@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List Directory Content</h1>
</div>

<div>
    <label>Enter directory path:</label>
    <input type="text" name="path">
</div>

